.phones-root {
  height: 100vh;
  width: 100%;
}

.phones-root h1 {
  padding-top: 3rem;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 6px;
}

.phones {
  height: 70vh;
  width: 50%;
  position: relative;
  margin-top: 3rem;
  position: absolute;
  transform: translateX(50%);
}

.phones img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}

.img2 {
  opacity: 0;
}

.phones:hover .img1 {
  opacity: 0;
}
.phones:hover .img2 {
  opacity: 1;
}
